/*
Aufgabe: 5
Name: Kristina Novikov
Matrikel: 254136
Datum: 16.11.2017	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

/*Smartphone*/
canvas {
	width: 100%;
}

/*Desktop*/
@media screen and (min-width: 64em) {
	canvas {
		height: 600px;
		width: 800px;
	}
}

/*Tablet Portrait*/
@media screen and (min-width:35.625em) {
	canvas {
		width: 99%;
	}
}

/*Tablet Landscape*/
@media screen and (min-width:48em) {
	canvas {
		height: 600px;
		width: 800px;
	}
}